.acgcag_sidebar_btn {
  width: 60px;
  height: 60px;
  background: var(--acgcag-button-bg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
  outline: none;
  border: none;
}

.acgcag_sidebar_btn > svg {
  fill: var(--acgcag-main-beige);
}

.acgcag_sidebar_btn_hover {
  background: var(--acgcag-main-beige) !important;
}

.acgcag_sidebar_btn_hover > svg {
  fill: var(--acgcag-button-bg) !important;
}
