.acgcag_downloaded_mod_card {
  width: 250px;
  height: 310px;
  background-color: var(--acgcag-bg-gray);
  margin: 10px;
  border-radius: 10px;
}

.acgcag_dl_mod_card_thumbnail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
}

.acgcag_dl_mod_card_thumbnail > div:last-child {
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}

.acgcag_dl_mod_card_thumbnail > div:first-child {
  position: relative;
  z-index: 1;
}

.acgcag_dl_mod_card_thumbnail > div:first-child > div {
  position: absolute;
  transform: translate(45%, -60%);
}

.acgcag_dl_mod_card_name {
  display: flex;
}

.acgcag_dl_mod_card_name > h2 {
  font-size: 1.1rem;
  color: var(--acgcag-text-light);
  font-weight: 500;
  text-decoration: underline;
  width: 100%;
  white-space: nowrap;
  margin: 10px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.acgcag_dl_mod_card_info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 5px;
}

.acgcag_dl_mod_card_info > p {
  margin: 5px;
  padding: 0;
  font-size: 0.9em;
  color: var(--acgcag-text-light);
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.acgcag_dl_mod_card_info > p > span {
  color: var(--acgcag-dim-beige);
}
