.acgcag_titlebar {
  padding-top: 5px;
  width: 100vw;
  height: 77px;
  display: flex;
  flex-direction: row;
  background: var(--acgcag-bright-beige);
  align-items: center;
  justify-content: space-between;
}

.acgcag_setup_titlebar {
  padding-top: 5px;
  width: 100vw;
  height: 77px;
  background: var(--acgcag-bg-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.acgcag_titlebar > h1 {
  font-size: 27px;
  font-weight: 500;
  color: var(--acgcag-text-dark);
}

.acgcag_setup_titlebar > h1 {
  font-size: 27px;
  font-weight: 500;
  margin-left: 20px;
  color: var(--acgcag-main-beige);
}

.acgcag_paimon_icon {
  padding-left: 15px;
}

.acgcag_paimon_icon > img {
  width: 59px;
  height: 68px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.acgcag_search_icon {
  padding-right: 20px;
}
