.acgcag_setup_screen {
  width: 100vw;
  height: 100vh;
}

.acgcag_setup_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acgcag_setup_title > h1 {
  font-weight: 300;
  font-size: 25px;
  text-decoration: underline;
  color: var(--acgcag-main-beige);
}

.acgcag_setup_finish_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acgcag_setup_finish_title > h1 {
  font-weight: 300;
  font-size: 25px;
  color: var(--acgcag-main-beige);
  line-height: 0.5;
}

.acgcag_setup_title > h2,
.acgcag_setup_finish_title > h2 {
  font-weight: 300;
  font-size: 18px;
  color: var(--acgcag-dim-beige);
  line-height: 1.5;
  margin: 15px;
  width: 600px;
  text-align: center;
}

.acgcag_download_fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acgcag_download_fields > div {
  width: 75vw;
}

@media screen and (min-width: 1100px) {
  .acgcag_download_fields > div {
    width: 65vw;
  }
}
