.acgcag_ui_list_item {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--acgcag-section-bg);
  display: flex;
}

.acgcag_ui_list_item_vertical {
  flex-direction: column;
}

.acgcag_ui_list_item > p {
  margin: 0;
  padding: 0;
}

.acgcag_ui_list_item_small_info {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acgcag_ui_list_item_small_info > p {
  margin: 5px 0;
  font-size: 1.2rem;
  color: var(--acgcag-main-beige);
}

.acgcag_ui_list_item > span {
  font-size: 0.95rem;
  opacity: 0.35;
  color: var(--acgcag-dim-beige);
}

.acgcag_ui_list_item_small_info > input[type="text"] {
  margin: 0 !important;
  width: 250px;
}

.acgcag_ui_list_item_small_info > input[type="text"],
.acgcag_ui_list_item > input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--acgcag-button-fg-disabled);
  margin: 15px 0 5px 0;
  font-size: 1rem;
}

.acgcag_ui_list_item_extra_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acgcag_ui_list_item_extra_info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acgcag_ui_list_item_extra_info_vertical {
  max-width: 55%;
}

.acgcag_ui_list_item_extra_info_vertical > h2 {
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
  color: var(--acgcag-main-beige);
}

.acgcag_ui_list_item_extra_info_vertical > p,
.acgcag_ui_list_item_extra_info_horizontal > p {
  margin: 15px 0;
  color: var(--acgcag-dim-beige);
}

.acgcag_ui_list_item_extra_info_vertical > span {
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: var(--acgcag-dim-beige);
  opacity: 0.7;
}

.acgcag_ui_list_item_extra_info_horizontal {
  display: flex;
  align-items: center;
}

.acgcag_ui_list_item_extra_info_horizontal > select {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--acgcag-bright-beige);
  font-size: 0.9rem;
  width: 200px;
}

.acgcag_ui_list_item_extra_info_installed {
  justify-content: right;
}

.acgcag_ui_list_item_extra_info_installed > p {
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 415px;
}

/*
  Toggle Switch credits to Marcus on code pen:
  https://codepen.io/mburnette/
  https://codepen.io/alvarotrigo/pen/abVPyaJ
*/

.acgcag_ui_list_item_small_info > input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.acgcag_pill_toggle_label {
  cursor: pointer;
  text-indent: -9999px;
  width: 75px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.acgcag_pill_toggle_label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: all 0.3s;
}

.acgcag_ui_list_item_small_info > input:checked + .acgcag_pill_toggle_label {
  background: #51c74d;
}

.acgcag_ui_list_item_small_info > input[type="checkbox"]:checked + .acgcag_pill_toggle_label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.acgcag_ui_list_item_small_info > .acgcag_pill_toggle_label:active:after {
  width: 40px;
}
