.acgcag_extras_refresh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acgcag_extras_refresh > svg {
  fill: var(--acgcag-main-beige);
}

.acgcag_extras_refresh > p {
  color: var(--acgcag-main-beige);
  margin: 0 10px;
  opacity: 0.6;
}
